[Unit]
Description=flutter_gsoc_demo

#[Unit]
#Requires=agl-compositor.service applaunchd.service agl-persistent-storage-api.service
#After=agl-compositor.service applaunchd.service agl-persistent-storage-api.service

[Service]
Type=simple
User=agl-driver
EnvironmentFile=/etc/default/flutter
Environment=XDG_RUNTIME_DIR=/run/user/1001/
ExecStart=/usr/bin/flutter-auto -b /usr/share/flutter/flutter_gsoc_demo/${FLUTTER_VERSION}/${FLUTTER_RUNTIME} --xdg-shell-app-id flutter_gsoc_demo
